<footer class="footer">
  <div class="container">
    <p class="float-end mb-1"><a href="#">Back to top</a></p>
    <p class="mb-1">©
      <%= Date.today.year %>
      TeaFans. All rights reserved.</p>
  </div>
</footer>
